h1{
    text-align: center;
    font-size: 3vw;
    border-bottom: 2px gray solid;
    margin:0px;
    padding:10px;
}
a{
    text-decoration: none;
    color:black;
   
}
ol{
  
    font-weight:bold;
    line-height:2;
    margin:0;
    padding: 20px 20px 20px 42px;   
}
body{
    margin:0px;
    border: 2px gray solid;
}
.container{
    display: grid;
    grid-template-columns: 1fr 8fr;
    font-size: 1vw;
}
#item2{
    padding:0px 20px;
}
#item1{
    border-right: 2px gray solid;
}
@media(max-width:400px){
    .container{
        display: block;
    }
}